.cateIcon{
    height: 18px;
    width: 24px;
    margin-bottom: 5px;
}
.benifit{
    background-color: #feeef4;
    border: 1px solid #ffe1e4;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 6px;
}
.benifitReceive{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    background-image: url('../../public/product/benefit.png');
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    margin-right: -118px;
    height: 26px;
    position: relative;
    width: 94px;
}
.monthSale{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: justify;
    display: flex;
    flex-direction: row;
    height: 26px;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-top: 2px;
    padding: 0 5px;
}